SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- map default expenses table columns to supplier details table columns for auto complete using p_TLBoard_Get_Expense_Latest_Expense_By_Supplier_Id

--update t_TLBoard_Client_Types 
--set Record_Created_By_User_Id = 1, 
--	Record_Creation_DateTime_UTC = (GETUTCDATE()), 
--	Record_Last_Updated_By_User_Id = 1,
--	Record_Last_Updated_DateTime_UTC = (GETUTCDATE()),
--	Is_Active = 1,
--	Is_Visible = 1
--Where Record_Creation_DateTime_UTC is null

--update t_TLBoard_Supplier_Types 
--set Record_Created_By_User_Id = 1, 
--	Record_Creation_DateTime_UTC = (GETUTCDATE()), 
--	Record_Last_Updated_By_User_Id = 1,
--	Record_Last_Updated_DateTime_UTC = (GETUTCDATE()),
--	Is_Active = 1,
--	Is_Visible = 1
--Where Record_Creation_DateTime_UTC is null


--Invoice_Supplier_Company_Details	= Suppliers.Company_Name  
--Invoice_Supplier_Tax_Reference		= Suppliers.Supplier_Tax_Reference_Number
--Invoice_Address_Description			= Suppliers.Address
--Invoice_Supplier_Phone_Number		= Suppliers.Telephone
--Invoice_Supplier_WebAddress			= Suppliers.Website_URL
-- Default currency ? 
-- Default Vat ? 

-- Need to map default currencies to countries.. 


CREATE Proc [p_TLBoard_Insert_Supplier_Details]
@User_Id int, @Company_Name nvarchar(100),
@Website_URL nvarchar(150), @Country_Id smallint,
@State_Id smallint, @City nvarchar(100),
@Address nvarchar(150), @ZipCode varchar(10),
@Default_Currency_Id TinyInt ,
@Telephone varchar(40), @Mobile_Phone varchar(40), 
@Supplier_Type_Id smallint, @Supplier_Tax_Reference_Number nvarchar(20),
@Main_Contact_FullName nvarchar(100), @Main_Contact_Email_Address nvarchar(100),
@Main_Contact_Phone_Number nvarchar(50), 
@Client_From_Date DateTime , @Client_To_Date DateTime , @First_Contract_Date DateTime,
@First_Contract_Signed_With_Contact_Full_Name NVarChar(200) , 
@First_Contract_Signed_In_Location_Description	NVarChar(400) , 
@Is_Active Bit, @Record_Created_By_User_Id int
As

INSERT INTO [dbo].[t_TLBoard_Suppliers]
           ([User_Id] , [Company_Name], [Website_URL], 
		   [Country_Id], [State_Id], [City], [Address], [ZipCode],
		   [Default_Currency_Id],
           [Telephone]
           ,[Mobile_Phone]
           ,[Supplier_Type_Id]
           ,[Supplier_Tax_Reference_Number]
           ,[Main_Contact_FullName]
           ,[Main_Contact_Email_Address]
           ,[Main_Contact_Phone_Number]
		   ,[Supplier_From_Date], [Supplier_To_Date], [First_Contract_Date]
		   ,[First_Contract_Signed_With_Contact_Full_Name]  
		   ,[First_Contract_Signed_In_Location_Description] 
		   ,Is_Active
           ,[Record_Created_By_User_Id]
           ,[Record_Creation_DateTime_UTC]
           ,[Record_Last_Updated_By_User_Id]
           ,[Record_Last_Updated_DateTime_UTC]
           )
     VALUES
           (@User_Id , @Company_Name, @Website_URL, @Country_Id, @State_Id, @City,
			@Address, @ZipCode, @Default_Currency_Id, 
			@Telephone, 
			@Mobile_Phone, @Supplier_Type_Id, @Supplier_Tax_Reference_Number,
			@Main_Contact_FullName, @Main_Contact_Email_Address, 
			@Main_Contact_Phone_Number, 
			@Client_From_Date, @Client_To_Date, @First_Contract_Date,
			@First_Contract_Signed_With_Contact_Full_Name, 
			@First_Contract_Signed_In_Location_Description,
			@Is_Active,
			@Record_Created_By_User_Id, 
			GETUTCDATE(), 
			@Record_Created_By_User_Id,
			GETUTCDATE()
           )

Select @@IDENTITY;

GO
