# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

Dashboard-FrontEnd/dist

Dashboard-BackEnd/obj
Dashboard-BackEnd/bin
Dashboard-BackEnd/.config
Dashboard-BackEnd/Properties/PublishProfiles

Dashboard-BackEnd/appsettings.Development.json
Dashboard-BackEnd/appsettings.Production.json

Publishes/
.vs/

# Only exists if Bazel was run
/bazel-out

# dependencies
Dashboard-FrontEnd/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db



WebformsPOCDemo/WebPrivateAppSettings.config
WebformsPOCDemo/WebPrivateConnectionStrings.config

WebformsPOCDemo/bin
WebformsPOCDemo/obj

SharedLayer/bin
SharedLayer/obj

DataAccessLayer/bin
DataAccessLayer/obj

BusinessLogicLayer/bin
BusinessLogicLayer/obj

SharedLayer/bin
SharedLayer/obj
packages/








