body , form , html
{
    width:100%;
    height:100%;
    padding:0;
    margin:0;

    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

.Pages-Wrapper {
    padding: 16px 16px 16px 16px;
    /*height: calc(100% - 32px);*/
    height:100%;
    width:100%;
}

.header-links a {
    text-transform:uppercase;
    padding:3px 3px 3px 3px;
}

.header-links .active
{
    background-color: yellow;
    font-weight: bold;
}

.header-links .active {
    background-color: yellow;
    font-weight: bold;
}

.Form_Group {
    padding-top: 3px;
    padding-bottom: 3px;
}

.Form_Group .Form_Label_Wrapper {
    display: inline-block;
    min-width: 200px;
    text-align: right;
    padding-right: 6px;
    float: left;
    padding-top: 6px;
}

.Form_Group .Form_Label_Wrapper.No_Min_Width {
    min-width:initial;
}

.Form_Group .Form_Control 
{
    display: inline-block;
    min-width:420px;
}

.Form_Group .Form_Control input
{
    width:200px;
}

.Form_Group .Form_Control input.long-input {
    width: 400px;
}

.Form_Group .Form_Control select.Big_ComboBox {
    width: 400px;
}

.Form_Group .Form_Control select.Regular_ComboBox {
    width: 200px;
}

.Form_Group .Form_Control select.Small_ComboBox {
    width: 150px;
}

.Form_Group .Form_Control select.Tiny_ComboBox {
    width: 63px;
    display:inline-block;
    text-align:center;
}

.Form_Group .Form_Control select.Tiny_ComboBox option {
    text-align: center;
}

.Form_Group .Form_Control select.Tiny_ComboBox:nth-of-type(2),
.Form_Group .Form_Control select.Tiny_ComboBox:nth-of-type(3) 
{
    margin-left: 5px;
}

.Form_Group .Form_Control input[type='checkbox'] {
    width: auto;
    position: relative;
    top: 8px;
}

.Form_Group .Validator{
    /*float:left;*/
}

.Form_Group .Form_Control textarea {
    display: inline;
    width: 400px;
    height: 51px;
}




