SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [t_TLBoard_Countries_Currencies](
	[Country_Name] [nvarchar](100) NULL,
	[Currency_Name_Desc] [nvarchar](200) NULL,
	[Currency_Code] [nvarchar](5) NULL,
	[Currency_Number] [nvarchar](10) NULL
) ON [PRIMARY]
GO
