SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [t_TLBoard_Currencies](
	[Currency_Id] [tinyint] NOT NULL,
	[Currency_Name] [nvarchar](50) NULL,
	[Currency_Code] [varchar](10) NULL,
	[Currency_Symbol] [nvarchar](10) NULL,
	[Wiki_Daily_Trades_Stats_2019] [decimal](10, 3) NULL,
 CONSTRAINT [PK_t_TLBoard_Currencies] PRIMARY KEY CLUSTERED 
(
	[Currency_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_t_TLBoard_Currencies] UNIQUE NONCLUSTERED 
(
	[Currency_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
